@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.ttf");
}
@font-face {
  font-weight: 400;
  font-style: italic;
  font-family: "Lato";
  src: url("../fonts/Lato-Italic.ttf");
}
@font-face {
  font-weight: 700;
  font-style: normal;
  font-family: "Lato";
  src: url("../fonts/Lato-Bold.ttf");
}
@font-face {
  font-weight: 700;
  font-style: italic;
  font-family: "Lato";
  src: url("../fonts/Lato-BoldItalic.ttf");
}

body {
  font-family: "Lato", sans-serif;
}

#intro {
  margin-top: -58.59px;
  height: 50vh !important;
}

.navbar .nav-link {
  color: #fff !important;
}